.htaccess
.idea/
.well-known/
403.php
404.php
cache/
styles/cb_27/
styles/helloWorld/
styles/vod/

includes/dbconnect.php
includes/common.php

files/logs

api/

LICENSE

phpmyadmin/

admin_area/styles/cbv2/

httpdocs/

new_layout/

js/jquery_plugs/
js/nicedit/
js/uploadify/
js/ui/

player/pak_player/

plugins/*