.navbar-default .right-menu .navbar-sm-login-links .btn-default.btn-login {
    border-color: transparent;
    background: #2d3043;
}
.navbar-default .right-menu .navbar-sm-login-links .btn-default.btn-newacc {
    border-color: transparent;
    background: #cc34cc;
}
#check_ads {
    padding: 10px 25px 10px 15px;
}
#check_ads label:first-child {
    font-size: 18px;
    padding-left: 15px;
}
#check_ads label.inline {
    float: right;
}